{% extends 'base.html' %}

{% block signIn %}
<section class="container">
  <div class="header__content">
    <div class="header__logo"><img src="./img/Group.svg" alt="logo"/><span> </span><img src="./img/Group 81.svg" alt="logo text"/></div>
    <div class="header__login">Do not have an account? 
      <button class="header__btn">Sign up</button>
    </div>
  </div>
  <div class="form__main">
    <div class="form__content">
      <div class="form__title">Sign in</div>
      <form action="#" method="POST">
        <input class="form__imp" type="email" placeholder="sarah@"/>
        <input class="form__imp" type="password" placeholder="Password"/>
      </form>
      <p class="form__text">Forgot password?</p>
      <button class="form__btn">Sign in</button>
    </div>
  </div>
</section>
{% endblock %}

{% block passwordRecovery1 %}
<section class="container">
  <div class="header__content">
    <div class="header__logo"><img src="./img/Group.svg" alt="logo"/><span> </span><img src="./img/Group 81.svg" alt="logo text"/></div>
    <div class="header__login">Back to
      <button class="header__btn">Sign in</button>
    </div>
  </div>
  <div class="form__main">
    <div class="form__content">
      <div class="form__title">Enter your e-mail to reset your password</div>
      <form action="#" method="POST">
        <input class="form__imp" type="email" placeholder="E-mail"/>
      </form><br/>
      <button class="form__btn mt-20px">Send</button><br/>
    </div>
  </div>
</section>
{% endblock %}

{% block passwordRecovery2 %} 
<section class="container">
  <div class="header__content">
    <div class="header__logo"><img src="./img/Group.svg" alt="logo"/><span> </span><img src="./img/Group 81.svg" alt="logo text"/></div>
    <div class="header__login">Back to
      <button class="header__btn">Sign in</button>
    </div>
  </div>
  <div class="form__email ta-c"><img src="./img/email-3.svg" width="150px" height="170px" alt="email pic"/>
    <div class="form__title">You are almost ready to go!</div>
    <p>Please check your email to reset your password</p>
    <div class="form__circle-small"> </div>
    <div class="form__circle-middle"></div>
    <div class="form__circle-big"></div>
  </div>
</section>
{% endblock %}

{% block passwordRecovery3 %} 
<section class="container">
  <div class="header__content">
    <div class="header__logo"><img src="./img/Group.svg" alt="logo"/><span> </span><img src="./img/Group 81.svg" alt="logo text"/></div>
    <div class="header__login">Do not have an account? 
      <button class="header__btn">Sign up</button>
    </div>
  </div>
  <div class="form__main">
    <div class="form__content">
      <div class="form__title">Reset your password</div>
      <form action="#" method="POST">
        <input class="form__imp" type="password" placeholder="New password"/>
        <input class="form__imp" type="password" placeholder="Confirm password"/>
      </form><br/><br/>
      <button class="form__btn">Reset</button>
    </div>
  </div>
</section>
{% endblock %}