{% extends 'base.html' %}

{% block signUp1 %} 
<section class="container">
  <div class="header__content">
    <div class="header__logo"><img src="./img/Group.svg" alt="logo"/><span> </span><img src="./img/Group 81.svg" alt="logo text"/></div>
    <div class="header__login">Already have an account? 
      <button class="header__btn">Log In</button>
    </div>
  </div>
  <div class="form__main">
    <div class="form__content">
      <div class="form__title">Sign up</div>
      <form action="#" method="POST">
        <input class="form__imp form__imp-half" type="text" placeholder="First name"/>
        <input class="form__imp form__imp-half ml-20px" type="text" placeholder="Last name"/>
        <input class="form__imp" type="text" placeholder="Username"/>
        <input class="form__imp" type="email" placeholder="E-mail"/>
      </form><br/><br/>
      <button class="form__btn">Get started</button>
    </div>
  </div>
</section>
{% endblock %}

{% block signUp2 %}
<section class="container">
  <div class="header__content">
    <div class="header__logo"><img src="./img/Group.svg" alt="logo"/><span> </span><img src="./img/Group 81.svg" alt="logo text"/></div>
    <div class="header__login">Already have an account? 
      <button class="header__btn">Log In</button>
    </div>
  </div>
  <div class="form__main">
    <div class="form__content">
      <div class="form__title">Complete your account</div>
      <form action="#" method="POST">
        <input class="form__imp" type="email" placeholder="Create a password"/>
        <input class="form__imp" type="password" placeholder="Confirm password"/><br/>
        <input class="custom-checkbox" type="checkbox" id="checkbox1" name="checkbox1"/>
        <label for="checkbox1">I agree to the myFixer.com &nbsp;<a class="form__link" href="#" target="_blank">Terms of Service</a></label><br/>
        <input class="custom-checkbox" type="checkbox" id="checkbox2" name="checkbox2"/>
        <label for="checkbox2">I agree to the myFixer.com &nbsp;<a class="form__link" href="#" target="_blank">Privacy Policy</a></label>
      </form><br/>
      <div class="g-recaptcha" data-sitekey="YOUR_KEY" data-callback="correctCaptcha"></div><br/>
      <button class="form__btn">Done!</button>
    </div>
  </div>
</section>
{% endblock %}

{% block signUp3 %}
<section class="container">
  <div class="header__content">
    <div class="header__logo"><img src="./img/Group.svg" alt="logo"/><span> </span><img src="./img/Group 81.svg" alt="logo text"/></div>
    <div class="header__login">Already have an account? 
      <button class="header__btn">Log In</button>
    </div>
  </div>
  <div class="form__main">
    <div class="form__content">
      <div class="form__title">Complete your account</div>
      <form action="#" method="POST">
        <input class="form__imp" type="email" placeholder="Create a password"/><div class="form__password-reloader">
        <img src="./img/Rectangle 4.svg" alt="">
        <img src="./img/Rectangle 4.3.svg" alt="">
        <img src="./img/Rectangle 4.3.svg" alt="">
        <input class="form__imp" type="password" placeholder="Confirm password"/><br/>
        <input class="custom-checkbox" type="checkbox" id="checkbox3" name="checkbox3"/>
        <label for="checkbox3">I agree to the myFixer.com &nbsp;<a class="form__link" href="#" target="_blank">Terms of Service</a></label><br/>
        <input class="custom-checkbox" type="checkbox" id="checkbox4" name="checkbox4"/>
        <label for="checkbox4">I agree to the myFixer.com &nbsp;<a class="form__link" href="#" target="_blank">Privacy Policy</a></label>
      </form><br/>
      <div class="g-recaptcha" data-sitekey="YOUR_KEY" data-callback="correctCaptcha"></div><br/>
      <button class="form__btn">Done!</button>
    </div>
  </div>
</section>
{% endblock %}
<section class="container">
  <div class="header__content">
    <div class="header__logo"><img src="./img/Group.svg" alt="logo"/><span> </span><img src="./img/Group 81.svg" alt="logo text"/></div>
    <div class="header__login">Already have an account? 
      <button class="header__btn">Log In</button>
    </div>
  </div>
  <div class="form__main">
    <div class="form__content">
      <div class="form__title">Complete your account</div>
      <form action="#" method="POST">
        <input class="form__imp" type="email" placeholder="Create a password"/><div class="form__password-reloader">
        <img src="./img/Rectangle 4.2.svg" alt="">
        <img src="./img/Rectangle 4.2.svg" alt="">
        <img src="./img/Rectangle 4.3.svg" alt="">
        <input class="form__imp" type="password" placeholder="Confirm password"/><br/>
        <input class="custom-checkbox" type="checkbox" id="checkbox5" name="checkbox5"/>
        <label for="checkbox5">I agree to the myFixer.com &nbsp;<a class="form__link" href="#" target="_blank">Terms of Service</a></label><br/>
        <input class="custom-checkbox" type="checkbox" id="checkbox6" name="checkbox6"/>
        <label for="checkbox6">I agree to the myFixer.com &nbsp;<a class="form__link" href="#" target="_blank">Privacy Policy</a></label>
      </form><br/>
      <div class="g-recaptcha" data-sitekey="YOUR_KEY" data-callback="correctCaptcha"></div><br/>
      <button class="form__btn">Done!</button>
    </div>
  </div>
</section>
{% block signUp4 %}
<section class="container">
  <div class="header__content">
    <div class="header__logo"><img src="./img/Group.svg" alt="logo"/><span> </span><img src="./img/Group 81.svg" alt="logo text"/></div>
    <div class="header__login">Already have an account? 
      <button class="header__btn">Log In</button>
    </div>
  </div>
  <div class="form__main">
    <div class="form__content">
      <div class="form__title">Complete your account</div>
      <form action="#" method="POST">
        <input class="form__imp" type="email" placeholder="Create a password"/><div class="form__password-reloader">
        <img src="./img/Rectangle 4.2.svg" alt="">
        <img src="./img/Rectangle 4.2.svg" alt="">
        <img src="./img/Rectangle 4.3.svg" alt="">
        <input class="form__imp" type="password" placeholder="Confirm password"/><br/>
        <input class="custom-checkbox" type="checkbox" id="checkbox5" name="checkbox5"/>
        <label for="checkbox5">I agree to the myFixer.com &nbsp;<a class="form__link" href="#" target="_blank">Terms of Service</a></label><br/>
        <input class="custom-checkbox" type="checkbox" id="checkbox6" name="checkbox6"/>
        <label for="checkbox6">I agree to the myFixer.com &nbsp;<a class="form__link" href="#" target="_blank">Privacy Policy</a></label>
      </form><br/>
      <div class="g-recaptcha" data-sitekey="YOUR_KEY" data-callback="correctCaptcha"></div><br/>
      <button class="form__btn">Done!</button>
    </div>
  </div>
</section>
{% endblock %}

{% block signUp5 %} 
<section class="container">
  <div class="header__content">
    <div class="header__logo"><img src="./img/Group.svg" alt="logo"/><span> </span><img src="./img/Group 81.svg" alt="logo text"/></div>
    <div class="header__login">Already have an account? 
      <button class="header__btn">Log In</button>
    </div>
  </div>
  <div class="form__main">
    <div class="form__content">
      <div class="form__title">Complete your account</div>
      <form action="#" method="POST">
        <input class="form__imp" type="email" placeholder="Create a password"/><div class="form__password-reloader">
        <img src="./img/Rectangle 4.1.svg" alt="">
        <img src="./img/Rectangle 4.1.svg" alt="">
        <img src="./img/Rectangle 4.1.svg" alt="">
        <input class="form__imp" type="password" placeholder="Confirm password"/><br/>
        <input class="custom-checkbox" type="checkbox" id="checkbox7" name="checkbox7"/>
        <label for="checkbox7">I agree to the myFixer.com &nbsp;<a class="form__link" href="#" target="_blank">Terms of Service</a></label><br/>
        <input class="custom-checkbox" type="checkbox" id="checkbox8" name="checkbox8"/>
        <label for="checkbox8">I agree to the myFixer.com &nbsp;<a class="form__link" href="#" target="_blank">Privacy Policy</a></label>
      </form><br/>
      <div class="g-recaptcha" data-sitekey="YOUR_KEY" data-callback="correctCaptcha"></div><br/>
      <button class="form__btn">Done!</button>
    </div>
  </div>
</section>
{% endblock %}

{% block signUp6 %} 
<section class="container">
  <div class="header__content">
    <div class="header__logo"><img src="./img/Group.svg" alt="logo"/><span> </span><img src="./img/Group 81.svg" alt="logo text"/></div>
    <div class="header__login">Already have an account? 
      <button class="header__btn">Log In</button>
    </div>
  </div>
  <div class="form__email ta-c"><img src="./img/email-3.svg" width="150px" height="170px" alt="email pic"/>
    <div class="form__title">You are almost ready to go!</div>
    <p>Please check your email to reset your password</p>
    <div class="form__circle-small"> </div>
    <div class="form__circle-middle"></div>
    <div class="form__circle-big"></div>
  </div>
</section>
{% endblock %}